@page "/"

<PageTitle>Our Memories</PageTitle>

<h1 id="index-header"><span style="color:red">❤</span>Our Memories<span style="color:red">❤</span></h1>
<br />
<div class="image-container">
    @foreach (var image in images)
    {
        <img src=@($"./images/{image.ImageSource}") alt="Image" data-description="@image.Description" 
        class="@(image.IsSelected ? "selected" : string.Empty)" @onclick="@(() => ShowDescription(image))">
    }

</div>

<div class="description-container" style="display: @(isDescriptionVisible ? "block" : "none")">
    <p>@descriptionText</p>
</div>

<audio controls>
    <source src="./audios/audio_ost.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

@code {
    private class Image
    {
        public string ImageSource { get; set; }
        public string Description { get; set; }
        public bool IsSelected { get; set; }
    }

    private List<Image> images = new List<Image>
    {
        new Image { ImageSource = "IMG_2012.JPG", Description = "Church of San Simeon Piccolo in Venice" },
        new Image { ImageSource = "IMG_2037.JPG", Description = "Bukit Tinggi Japanese Garden" },
        new Image { ImageSource = "IMG_2367.JPG", Description = "Lotte World in Seoul" },
        new Image { ImageSource = "IMG_2371.JPG", Description = "Burano near Venice" },
        new Image { ImageSource = "IMG_2420.JPG", Description = "Wearing traditional Korean hanbok costume at Gyeongbokgung Seoul" },
        new Image { ImageSource = "IMG_5426.JPG", Description = "Art gallery inside Aarhus Aros" },
        new Image { ImageSource = "IMG_6092.JPG", Description = "Paris Disneyland" },
        new Image { ImageSource = "IMG_5709.JPG", Description = "Frauenkirche in Munich Old Town" },
        new Image { ImageSource = "IMG_5760.JPG", Description = "Jewel at Changi Airport" },
        new Image { ImageSource = "IMG_5838.JPG", Description = "Skiing at Vivaldi Park near Seoul" },
        new Image { ImageSource = "IMG_5879.JPG", Description = "Keukenhof Gardens during the tulip blossom season" },
        new Image { ImageSource = "IMG_5917.JPG", Description = "Eiffel Tower night scene" },
        new Image { ImageSource = "IMG_5980.JPG", Description = "Zaanse Schans windmill village near Amsterdam" },
        new Image { ImageSource = "IMG_6064.JPG", Description = "Atop of Arc de Triomphe overlooking Paris" },
        new Image { ImageSource = "IMG_6171.JPG", Description = "On a bridge in Amsterdam overlooking the canal" },
    };
    private bool isDescriptionVisible = false;
    private string descriptionText = string.Empty;

    private void ShowDescription(Image image)
    {
        if (image.IsSelected)
        {
            foreach (var img in images)
            {
                img.IsSelected = false;
            }

            isDescriptionVisible = false;
            descriptionText = string.Empty;
            return;
        }

        foreach (var img in images)
        {
            img.IsSelected = false;
        }

        image.IsSelected = true;
        descriptionText = image.Description;
        isDescriptionVisible = true;
    }
}


